body {
  background-color: #428BCA;}


#carta {
  background-color: #3FC0E0;
}

.btn {
  font-size: 2vw;
}

.titol {
  /*TODO: posar les tipografies de montblanc i l'altre*/
  font-size: 2.5vw;
}

.contingut {
  font-size: 1.4vw;
}




#btninicio {
  margin-top: 10px;
}

div h5 {
  font-size: 5rem;
}