body {
  background-color: #428BCA;
}


.card {
  background-color: #3FC0E0;
}

.btn {
  font-size: 2vw;
}

.titol {
  /*TODO: posar les tipografies de montblanc i l'altre*/
  font-size: 2.5vw;
}

.contingut {
  font-size: 1.4vw;
}

nav {
  height: 13vh;
}

div h5 {
  font-size: 5rem;
}