ol.list{
    list-style: none;
    background-color: #ffffff;
    color: #4f7d61; /* #50cc82 */
}

li{
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    /* opacity: 0.6; */
    background-color: #50cc82;
    color: #ffffff;
}